<h1>Hello, Rails...</h1>
<p>Let's start something usefull here.</p>

Currently we have <%= Item.open_count %> unresolved issues.

<ul>
  <% @projects.each do |project| %>
    <% unless project.archived? %>
      <li>
        <%= link_to project.title, project %> (<%= project.items.length %>) | <%= link_to "Edit", edit_project_path(project.id) %> | <%= link_to "Delete", project_path(project.id), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Project", new_project_path %>